* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-color: rgba(5, 5, 5, 0.1);
}
h1 {
  font-size: 35px;
  transform: scale(2);
  text-align: center;
  /* padding: 1.5rem 0; */
  text-shadow: 2px 2px 8px rgba(105, 66, 66, 0.3);
  margin: 3rem 0;
  will-change: color;

  animation: slideFade 5s infinite;
}
@keyframes slideFade {
  0% {
    /* opacity: 0; */
    transform: translateX(-100px);
    color: rgb(232, 80, 25);
  }
  25% {
    /* opacity: 1; */
    transform: translateX(0);
    color: hsl(85, 89%, 53%);
  }
  50% {
    border-color: transparent;
    color: hsla(0, 74%, 50%, 0.61);
  }
  75% {
    /* opacity: 1; */
    transform: translateX(-100);
    color: rgb(105, 216, 172);
  }
  100% {
    /* opacity: 0; */
    transform: translateX(100px);
    color: #e80817;
  }
}
/* #creator_list {
} */

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

li {
  /* border: 2px solid rgb(103, 10, 217); */
  border: none;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(12, 183, 154);
  list-style: none;
  height: 30vh;
  width: 20vw;
  padding: 25px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(9, 9, 9);
  color: whitesmoke;
  line-height: 28px;
  text-shadow: 2px 2px 8px rgb(5, 5, 5);
  transition: all 0.9s ease;
}

li:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgb(216, 4, 4);
}

@media (min-width: 1280px) {
  body {
    font-size: 18px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    margin: auto;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
    background-color: #f0f0f0;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1500px;
    margin: auto;
  }
}
