* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: brown;
}

body {
  height: 100vh;
  width: 100vw;

  /* display: flex;
  justify-content: center;
  align-items: center; 
  */
}

.cal {
  height: 90vh;
  width: 50vh;
  border-radius: 10px;
  background: linear-gradient(
    to bottom right,
    rgb(113, 53, 169, 0.4),
    rgba(10, 205, 69, 0.2)
  );
  margin-top: 20px;
  padding-top: 30px;
  box-shadow: 6px 2px 14px rgba(20, 175, 186, 0.4);
}

input {
  padding-left: 15px;
  height: 45px;
  width: 200px;
  font-size: 48px;
  border: 2px solid rgba(10, 205, 69, 0.2);
  box-shadow: 4px 4px 8px rgba(220, 13, 96, 0.3),
    2px 2px 10px rgba(54, 181, 92, 0.4);
  border-radius: 50px;

  transition: all 5s ease;
  /* animation: glowIn 2s ease-in-out infinite alternate; */

  color: black;
  font-family: 100;
  font-size: 8px;
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 15px rgba(128, 3, 244, 0.4),
    2px 2px 10px rgba(54, 181, 92, 0.4);
  border-color: rgba(10, 205, 69, 0.3);
}

/* @keyframes glowIn {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 4px 4px 8px rgba(220, 13, 96, 0.3),
      2px 2px 10px rgba(54, 181, 92, 0.4);
  }
} */

.but {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 35px;
  margin: 10px;
}
button {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50px;
  box-shadow: 4px 4px 8px rgba(220, 13, 96, 0.3);
}
.btn {
  border-radius: 5px;
}
/* .btn1 {
  border-radius: 6px;
} */
