* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  cursor: pointer;
}
/* body {
  height: 100vh;
  width: 100vh;
} */
/* section {
  min-height: 100vh;
} */
.cnt {
  box-shadow: 8px 6px 10px rgba(220, 168, 47, 0.4);
  animation: swing 30s infinite ease-in-out;
  transition: all 2s ease-in-out;

  background-color: whitesmoke;
}

.cnt:hover {
  transform: scale(1.2);

  box-shadow: 10px 8px 15px rgba(3, 58, 186, 0.3);
  background-color: rgb(13, 13, 13);
}

@keyframes swing {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

/* .cnt.dark-mode {
  background-color: #343a40; 
  color: #f8f9fa;
  box-shadow: 8px 6px 15px rgba(255, 255, 255, 0.1);
} */

div {
  height: 350px;
  border-radius: 15px;
}
h1 {
  text-transform: uppercase;
  transform: scale(1.5);
  letter-spacing: 5px;
  text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}

.btn2 {
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  height: 50px;
  width: 150px;
}

.highlight {
  color: orange;
  font-size: 48px;
  font-family: 900px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .cnt {
    width: 90% !important; /* override Bootstrap w-50 */
    padding: 1.5rem;
  }

  .btn2 {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
    transform: scale(1.2);
    text-align: center;
    letter-spacing: 2px;
  }

  .highlight {
    font-size: 32px;
  }
}
