* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  height: 80%;
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 15px;
  box-shadow: 4px 4px 10px rgb(10, 109, 201);
  padding-top: 50px;
}

.para {
  font-size: 38px;
  font-weight: 800px;
  transform: scale(2);
  text-shadow: 2px 2px 6px rgba(158, 73, 73, 0.3);
  color: rgb(10, 80, 138);
}
h3 {
  font-size: 45px;
  /* margin-left: 70px; */
  margin-top: 20px;
  transform: scale(2);
  color: rgb(131, 38, 21);
  text-shadow: 2px 2px 6px rgba(165, 27, 27, 0.3);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
button {
  font-size: 20px;
  padding: 10px 30px;
  /* margin-left: 10px; */
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
  border: none;
  background: rgb(20, 19, 19);
  box-shadow: 4px 4px 8px rgba(223, 10, 10, 0.3);
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 18px;
}
